includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/

    level: 6

    excludePaths:
        - app/Filament/Generated/*
        - vendor/*
        - storage/*
        - bootstrap/cache/*

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
